body{
    background-color: magenta;
    color: aliceblue;
}


.ex1{
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color: darkorchid;

}

.ex2{
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: black;
}

.ex3{
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: navy;
}

