body{
 background-color: rgb(174, 8, 155);
}

.ex1{
    outline-style: solid;
    outline-width: 10px;
    outline-color: burlywood;
    width: 400px;
    margin: 30px auto;
    border: 3px solid black;
    background-color: darksalmon;
}