body {
  background-color: lightgrey;
}

.ex1 {
  height: 400px;
  width: 300px;
  background-color: darkorchid;
}

.div1 {
  width: 400px;
  height: 300px;
  background-color: blue;
}

.ex1 {
 width: 300px;   
 background-color: purple;
}

.ex2{
  max-width: 300px;   
 background-color: aqua;
} 
