body {
  background-color: antiquewhite;
}
.ex1 {
  display: flex;
  background-color: cornflowerblue;
  flex-direction: row;
  gap: 10px;
}
.ex1 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.ex2 {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
}
/* exemplo: flexbox direction:row reverse*/

.ex2 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.ex3 {
  display: flex;
  flex-direction: row-reverse;
  background-color: cornflowerblue;
}

.ex3 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}
/*Exemplo de Flex-direction: column-reverse*/
.ex4 {
  display: flex;
  flex-direction: column-reverse;
  background-color: cornflowerblue;
}

.ex4 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

/*Exemplo de Flex-wrap: nowrap*/
.ex5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(16, 29, 54);
}

.ex5 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

/*Exemplo de Flex-wrap:wrap*/
.ex6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(16, 29, 54);
}

.ex6 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

/*Exemplo de Flex-wrap:wrap-reverse*/
.ex7 {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  background-color: rgb(16, 29, 54);
}

.ex7 div {
  background-color: palevioletred;
  color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}
