body {
  background-color: cornflowerblue;
}
/*Exemplo de grid template-column com valor auto auto auto*/
.ex1 {
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns: auto auto auto;
  background-color: aqua;
}

.ex1 div {
  border: 1px solid black;
  height: 30px;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
}

/*Exemplo de grid template-column com valores misturados*/
.ex2 {
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns:180px 80px auto;
  background-color: aqua;
}

.ex2 div {
  border: 1px solid black;
  height: 30px;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
}

/*Exemplo de grid template-column com valores fracionados*/
.ex3 {
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns:1fr 1fr 1fr;
  background-color: aqua;
}

.ex3 div {
  border: 1px solid black;
  height: 30px;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
}

/*Exemplo de grid template-column com minmax*/
.ex4 {
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns: minmax(180px,1fr) 150px 150px;
  background-color: aqua;
}

.ex4 div {
  border: 1px solid black;
  height: 30px;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
}
/*Exemplo de grid template-rows com valores fixos*/
.ex5 {
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: 80px 200px;
  background-color: aqua;
}

.ex5 div {
  border: 1px solid black;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}
/*Exemplo de grid gap colmn-gap*/
.ex6 {
  display: grid;
  padding: 5px;
  column-gap: 20px;
  grid-template-columns:repeat(3, 1fr);
  background-color: aqua;
}

.ex6 div {
  border: 1px solid black;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}
/*Exemplo de grid gap colmn-gap*/
.ex7 {
  display: grid;
  padding: 5px;
  row-gap: 40px;
  grid-template-columns:repeat(3, 1fr);
  background-color: aqua;
}

.ex7 div {
  border: 1px solid black;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

/*Exemplo de grid gap*/
.ex8 {
  display: grid;
  padding: 5px;
  gap: 40px;
  grid-template-columns:repeat(3, 1fr);
  background-color: aqua;
}

.ex8 div {
  border: 1px solid black;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}
/*Exemplo de grid gap*/
.ex9 {
  display: grid;
  padding: 5px;
  gap: 10px 50px;
  grid-template-columns:repeat(3, 1fr);
  background-color: aqua;
}

.ex9 div {
  border: 1px solid black;
  background-color: aquamarine;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}
