body{
    background-color: rgba(100, 149, 237);
    justify-items: center;
}

h1 {
 background-color: rgb(0, 0, 255,0.4);
 color: white; 
 border:6px solid pink ; 
}

h2 {
background-color:rgb(0, 0, 255, 0.4);
color:bisque;
border: 4px solid pink;
}

p {
    background-color: rgb(0, 0, 255, 0.4);
    color: white;
    border:3px solid pink;
}
