body {
  background-color:dimgray;
}

a:link {
    color: brown;
  background-color: beige;
}
a:visited {
color: blue; 
 background-color: cyan;
}
a:hover {
  color: deeppink;
  background-color:violet ;
}
a:active {
  color: chartreuse;
  background-color: darkcyan;
}

a{
    text-decoration: none;
}

* {
    cursor: url(../img/cat.svg),auto;

}

.link-btn ,  .link-btn:visited{
    background-color: transparent;
    border: 3px solid midnightblue;
color:white;
padding: 20px 80px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
display:inline block;
}

.link-btn:hover, .link-btn:active{
    background-color:blue;
    color: white;
    border: 3px solid white;
    transition: .5s;

}
