    body{
    background-color: burlywood;  
    }

    .ex1{
   border: 8px solid white;     
    }

    .ex2{
    border: 6px solid white;
    border-width: medium;    
    }

    .ex3{
   border: 6px dotted pink;     
    }

    .ex4{
    border: dotted pink; 
   border-width: thick;  
    }

    .ex5{
    border:solid;    
    border-width: 20px 10px;
    border-color: bisque pink blue red;
    }

    .ex6{
     border-top-style: solid; 
     border-right-style: dotted; 
     border-bottom-style: double; 
     border-left-style: none;
    }

    .ex7{
   border:6px solid #f8a; 
   border-radius: 20px;    
    }